.soul{
    font-size: 50px;
    font-family: Marker Felt, fantasy;
}
body{
    background-color: #eb8f26;
    font-family: Marker Felt, fantasy;
}
.centre{
    text-align: center;
    padding-top: 25px;
}
h1{
    font-size:30px;
}
