.soul{
    font-size: 50px;
    font-family: Marker Felt, fantasy;
}
body{
    background-color: #eb8f26;
    font-family: Marker Felt, fantasy;
}
.centre{
    text-align: center;
    padding-top: 25px;
}
h1{
    font-size:30px;
}
a.text:active, 
a.text:hover, 
a.text {
  text-decoration: none;
  color: #000;
}
